html, body {
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    height: 100%;
}

#menuBar {
    flex:1;
    height: 100%;
    display: none;
}

#md {
    display: block;
    flex: 11;
    color: white;
    overflow: hidden;
}